body
{
	margin: 0;
	padding: 40px;
	font-family: sans-serif;
	background: url(bg4.png);
	background-size: cover;
}
h2{
 font-family: Sans-serif; 
 font-size: 24px;     
 font-style: normal; 
 font-weight: bold; 
 color: black;
 text-align: center; 
 text-decoration: underline;
}
table{
 font-family: verdana; 
 color:white; 
 font-size: 16px; 
 font-style: normal;
 font-weight: bold;
 background: linear-gradient(to bottom, #083A7B  0%, #E0F8A3 100%);  
 border-collapse: collapse; 
 border-color: white;
  
}
table.t{
	table-layout: auto;
	width:90%;
}
table.inner{
 border: 10px
}
th{
 font-family: Sans-serif; 
 font-size: 21px;     
 font-style: normal; 
 font-weight: bold; 
 color: #E0F8A3;
 text-align: center; 
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: underline;
}
input[type=button]{
 width: 15%;
 padding: 8px 12px;
 margin: 10px 10px;
 font-weight: bold;
 color: #E0F8A3;
 background: #0E3193;
 box-sizing: border-box;
  
}
#download{
	background-color: #0DD7DC;
	color: #0E3193;
	width: 85%;
	padding: 8px 12px;
	margin: 2px 8px;
	font-weight: bold;
}
#delete{
	background-color: red;
	color: white;
	width: 85%;
	padding: 8px 12px;
	margin: 2px 8px;
	font-weight: bold;
}
#download:hover{
	background-color: black;
	color: white;
	border-radius: 5px;
}
#delete:hover{
	background-color: lightgreen;
	color: black;
	border-radius: 5px;
}
