body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(bg1.jpg);
	background-size: cover;
}
.dp
{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2.1);
	left: calc(42%);
}
.box
{
	position: absolute;
	top: 57%;
	left:45%;
	transform: translate(-50%,-50%);
	width: 500px;
	height:390px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.box h2
{
	margin: 0 0 20px;
	padding: 10px;
	color: #fff;
}
.box h3
{
	margin: 0 0 3px;
	padding: 5px;
	color: #fff;
}
.box .inputBox
{
	position: relative;
}
.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.box .inputBox label
{
	position: absolute;
	top: 0;
	left:  0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.box .inputBox input:focus ~label,
.box .inputBox input:valid ~label
{
	top: -18px;
	left: 0;
	color:#BA950C ;
	font-size: 12px;
}
.box input[type="submit"]
{
	width: 60%;
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	background: #BA950C;
	padding: 10px 20px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top:-2px;
	margin-bottom: 5px;
	cursor: pointer;
	border-radius: 5px;
}
.msg h3{
	color: black;
	margin:8px 88px;
}