body
{
	margin: 0;
	padding: 40px;
	font-family: sans-serif;
	background: url(bg3.jpg);
	background-size: cover;
}
a{
	font-weight: bold;
}
table{
	width:95%;
 font-family: verdana; 
 color:white; 
 font-size: 18px; 
 font-style: normal;
 font-weight: bold;
 background: linear-gradient(to bottom, #9A0340  0%, #F59DD3 100%);  
 border:3px white;
 border-collapse: collapse;
 
}
tr{
	font-weight: normal;
}
table.inner{
 border: 10px
}
.navbar{
	position: fixed;
	height: 30px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	background-color: black;
}
.navbar ul{
	float: right;
	margin-right: 30px;
	margin-top: -2%; 
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	padding: 6px 5px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: white;
	color:black;
	border-radius: 2px;
}
form.search input[type=text] {
  padding: 10px;
  margin:20px 200px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}


form.search button {
  float: left;
  width: 5%;
  padding: 9px;
  margin:20px -200px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}