{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Student Details</title>
	<link rel="stylesheet" href="{% static 'mstyle1.css' %}">
</head>
<body>
<center><h3 style="color: #083A7B">STUDENTS ACHIEVEMENT MAINTENANCE SYSTEM</h3></center>
<h2>Student certification documents!</h2>
<table class="t" border=1 align="center" cellpadding="15">
<tr>
    <th>Document Title</th>
    <th>View Document</th>
    <th>Download</th>
 </tr>
 {%for i in s%}
 <tr>
 	<td>{{i.document_type}}</td>
 	<td><a href="{{i.doc.url}}">{{i.doc}}</a></td>
 	<td><a href="{{i.doc.url}}" download ><button id="download">Download</button></a></td>
 </tr>
 {%endfor%}
 <tr>
<td colspan="3" align="center">
<a href="{% url 'dashboard_2' p.registered_number %}"><input type="button" value="Back"></a>
<a href="{% url 'dashboard' %}"><input type="button" value="Home"></a>
</td>
</tr>
</table>

</body>
</html>