{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Page</title>
	<link rel="stylesheet" href="{% static 'styl.css' %}">
	<link rel="stylesheet" href="{% static 'profile.png' %}">
</head>
<body>
	<center><h3 style="color: white">STUDENTS ACHIEVEMENT MAINTENANCE SYSTEM</h3></center>
	<div class='box'>
		<img src="{% static 'profile.png' %}" alt="" class="dp">
		<h2>Login</h2>
		<form method=POST action="{%url 'main'%}">
			{% csrf_token %}
			<div class="inputBox">
				<input type="text" name="uname" value="{{cookie1}}" required="">
				<label>User name(roll no)</label>
			</div>
			<div class="inputBox">
				<input type="password" name="password" value="{{cookie2}}" required="">
				<label>Password</label>
			</div>
			<input type="checkbox" name="remember"> <b>Remember me </b>
            <span class="psw"> <b>Forgot</b> <a href="{% url 'password_reset' %}"> password?</a></span>
			<input type="submit" name="" value="Login">
			<h3>Don't have an account?  <a href="{% url 'uregister' %}">       Create</a></h3>
			<div class="msg">
			{% if messages %}
			{%for message in messages%}
			<h3>{{message}}</h3>
			{% endfor %}
			{% endif %}
		    </div>
		</form>
	</div>
</body>
</html>