<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'password.css' %}">
</head>
<body>
	<div style="text-align: center" class="forgotbox">
	{% load static %}
	<br><h1>Password reset mail sent</h1>
		<p>We've emailed you instructions for setting your password,if an account exists with the email you entered.You should recieve them shortly.</p>
		<p>If you dont receive an email,please make sure you've entered the address you registered with, and check your spam folder.</p>
		<p>~Thank You~</p>
	</div>

</body>
</html>