<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'password.css' %}">
</head>
<body>
	<div style="text-align: center" class="forgotbox">
	{% load static %}
	<br><h1>Reset password</h1>
	<p>Forgotten your password? Enter your registered email address below, and we'll email instructions for setting a new one.</p>
	<form method="POST">
		{% csrf_token %}
		{{form}}
		<br><br><input type="Submit" name="Send email">
	</form>
	</div>
</body>
</html>