<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'password1.css' %}">
</head>
<body>
	<div style="text-align: center" class="forgotbox">
	{% load static %}
	<br><h1>Enter new password</h1>
	<p>Please enter your new password twice so we can verify you typed it correctly.</p>
	<form method="POST">
		{% csrf_token %}
		{{form}}
		<br><br><input type="Submit" name="Update Password">
	</form>
	</div>

</body>
</html>